.single-meal{
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: cornsilk;
    margin:0px 100px;
    align-items: center;
}
.single-meal img{
    width: 40%;
    height: auto;
}
.text{
    margin-left: 20px;
    padding: 20px;
}
.text h1{
    color: #ff1a24;
    margin-bottom: 30px;
    font-size: 40px;
}
.text p{
    font-size: 19px;
}
.Link .btn{
    color: yellow;
    background:#ff1a24;
    font-weight: 600;
    display: block;
    margin: 20px 0px;
}
.Link .btn:hover{
    background: yellow;
    color:#ff1a24;
}